#myGlower {
    background-color: #ccc;
    border: 15px solid transparent;    
    -webkit-transition: border 0.1s linear, box-shadow 0.1s linear;
       -moz-transition: border 0.1s linear, box-shadow 0.1s linear;
            transition: border 0.1s linear, box-shadow 0.1s linear;
}

#myGlower.active {
    border-color: black;
    -webkit-box-shadow: 0 0 5px black;
       -moz-box-shadow: 0 0 5px black;
            box-shadow: 0 0 5px black;
}

